<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>INCEPTION WAVE</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins|Roboto&amp;display=swap'><link rel="stylesheet" href="css/stylelanding.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header>
  <div class="content">
    <h1 style="font-size: 6em;margin-left: -300px;">INCEPTION WAVE</h1>
    <h1 style="font-size: 4em;margin-left: -50px;">INTERNSHIP</h1>
    <br>
    <a href="/signup" class="btn btn-warning" style="margin-right:40px;margin-left: 30px;">SIGN IN</a>
    <a href="/login" class="btn btn-warning">LOGIN</a>
  </div>
  <div class="imgBox">
    <img class="iimg" src="./img.jpg" alt="">
  </div>
</header>
  
</body>
</html>
